@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@font-face {
  font-family: norwester;
  src: url("./font/norwester.otf") format("opentype");
}





/* :root {
  --background-color: #BFC4D8;
  --button-color : #D75E8D;
  --link-color: #5372BD;
} */

.css-1r4kch7-MuiContainer-root {
  font-family: 'norwester'!important;

}

.App {
  text-align: center;
  font-family: 'norwester' !important;
  min-width: max-content;

  /* min-width: -webkit-fill-available;
  width: 100%; */
  /* background-color: red; */
}



@media only screen and (max-width: 600px) {
  .css-1r4kch7-MuiContainer-root {
    /* font-family: 'norwester'!important; */
    
    padding: 160px 0px !important;
  
  }
}